---
import Nav from '@/components/Nav.astro';

interface Props {
  title?: string;
  description?: string;
  image?: { src: string; alt: string };
}

const { title, description, image } = Astro.props;

const projectName = 'Candura';
const defaultDescription = 'Candura';
const { pathname } = Astro.url;
const seoTitle = title ? `${title} | ${projectName}` : projectName;
const seoDescription = description || defaultDescription;
const baseUrl = new URL(import.meta.env.BASE_URL, Astro.site);
const pageUrl = new URL(pathname, Astro.site);
const imgSrc = image ? new URL(image.src, baseUrl) : new URL('imagen_OG.jpg', baseUrl);
const imgAlt = image ? image.alt : projectName;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.png`} sizes="32x32" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.png`} type="image/png" />
    <link rel="apple-touch-icon" href={`${import.meta.env.BASE_URL}favicon.png`} />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={pageUrl} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Goudy+Bookletter+1911&display=swap" />
    <link rel="stylesheet" href="https://use.typekit.net/lda1qyz.css" />

    <title>{seoTitle}</title>
    <meta name="description" content={seoDescription} />
    <!-- OpenGraph -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content={projectName} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={pageUrl} />
    <meta property="og:title" content={seoTitle} />
    <meta property="og:description" content={seoDescription} />
    <meta property="og:image" content={imgSrc} />
    <meta property="og:image:alt" content={imgAlt} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={pageUrl} />
    <meta name="twitter:title" content={seoTitle} />
    <meta name="twitter:description" content={seoDescription} />
    <meta name="twitter:image" content={imgSrc} />
    <meta name="twitter:image:alt" content={imgAlt} />
  </head>

  <body>
    <Nav />
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  @use '@/styles/styles.scss';
</style>
